<div class="layout">

  <header class="navbar">
    <div class="marca">
      <span class="logo">R</span>

      <div>
        <h1>RutaExpress</h1>
        <small>Gestión de envíos</small>
      </div>
    </div>

    <div class="usuario">
      <div class="datos-usuario">
        <span class="nombre">{{ nombreUsuario }}</span>
        <span class="rol">{{ rolActivo }}</span>
      </div>

      <button
        type="button"
        class="btn-salir"
        (click)="cerrarSesion()">
        Cerrar sesión
      </button>
    </div>
  </header>


  <aside class="sidebar">

    <p class="titulo-menu">MENÚ</p>

    <nav>
      <a class="menu-item activo">
        <span>▦</span>
        Dashboard
      </a>

      <a
        class="menu-item"
        *ngIf="tieneRol('ADMIN', 'DESPACHADOR', 'CLIENTE')">
        <span>▤</span>
        Envíos
      </a>

      <a
        class="menu-item"
        *ngIf="tieneRol('ADMIN', 'DESPACHADOR')">
        <span>▣</span>
        Catálogo
      </a>

      <a
        class="menu-item"
        *ngIf="tieneRol('ADMIN')">
        <span>▥</span>
        Reportería
      </a>

      
    </nav>

  </aside>


  <main class="contenido">

    <div class="encabezado">
      <div>
        <p class="bienvenida">Bienvenido/a</p>
        <h2>Dashboard</h2>
        <p>Panel principal de RutaExpress.</p>
      </div>
    </div>

    <section class="tarjeta">
      <h3>Sesión iniciada correctamente</h3>
      <p>
        Has ingresado correctamente al sistema RutaExpress.
      </p>
      
      <hr style="margin: 20px 0; border: 0; border-top: 1px solid #ddd;">
      
      <h4>Probar Conexión con AWS API Gateway (MSAL Interceptor)</h4>
      <p>Presiona el botón para consumir un endpoint protegido. El Interceptor debería inyectar el Token silenciosamente.</p>
      <button (click)="probarInterceptor()" style="padding: 10px 15px; margin-top: 10px; background-color: #0078D4; color: white; border: none; border-radius: 4px; cursor: pointer;">
        Probar Endpoint /mis-envios
      </button>

      <div *ngIf="respuestaApi" style="margin-top: 15px; background: #f4f4f4; padding: 15px; border-radius: 4px; font-family: monospace;">
        <strong>Respuesta de Spring Boot (vía API Gateway):</strong><br>
        <pre>{{ respuestaApi | json }}</pre>
      </div>
    </section>

  </main>

</div>